doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/hexgon.css')
    script(src='/javascripts/jquery-3.0.0.min.js')
  body
    block content
